/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #d09cf8;
  --secondary-color: #563d7c;
  --background-color: #f5f5fc;
  --text-color: #333;
  --font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-variant-caps: all-petite-caps;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
}

.navbar {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
  font-weight: bold;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--primary-color);
}

.register-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 300ms ease;
}

.register-btn:hover {
  background-color: var(--secondary-color);
}

/* Hamburger Menu */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: #a87ffc;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: #f5f5fc;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate((10px, 5px));
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate((10px, -5px));
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Adjust as per your need */
  background: url("./assets/3dplane1.png") cover;
  text-align: center;
}
.hero-content h1 {
  font-size: 3em;
  margin: 0;
}

.hero-content p {
  font-size: 1.2em;
  margin: 1em 0;
}

.hero-content a {
  padding: 0.8em 1.5em;
  background-color: #ff9900;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-content a:hover {
  background-color: #ff6600;
}
.hero-image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 50vh;
  max-width: 100%;
}

.hero2-image {
  width: 50vh;
  max-width: 100%;
}

/* .hero-content {
  width: 50vh;
  max-width: 100%;
} */

/* .hero-content h1 {
  font-size: 36px;
  color: #555555;
}

.hero-content p {
  margin: 20px 0;
  font-size: 15px;
} */

.hero-buttons {
  display: flex;
  gap: 20px;
}

.explore-btn {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #fec00d;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: all 300ms ease;
}

.explore-btn:hover {
  background-color: var(--secondary-color);
}

/* Best and Popular Toys */
.best-popular-toys {
  background: linear-gradient(135deg, #f9f9ff, #e6e6fa);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  width: 80%;
}

.best-popular-toys h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.toy-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}
.toy-card {
  display: flex;
  background: linear-gradient(135deg, #f9f9ff, #e6e6fa);
  padding: 20px;
  border-radius: 27px 70px 27px 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  flex-direction: row;
}

.toy-icon {
  width: 80px;
  height: 80px;
  background-color: #f3e0ff;
  border-radius: 27px 27px 27px 70px;
  margin-right: 20px;
  overflow: hidden;
}

.toy-card img {
  height: 55px;
}

.toy-info h3 {
  font-size: 18px;
  color: #444;
  margin: 0 0 5px;
}

.toy-info p {
  font-size: 14px;
  color: #777;
  margin: 0 0 10px;
}
.toys-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

/* .toy-card {
  flex: 1 1 calc(33.333% - 40px); 
  box-sizing: border-box;
  margin: 10px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}
.toy-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

.toy-card img {
  width: 100%;
  height: auto;
} */

/* .toy-card h3 {
  font-size: 1.5em;
  margin: 0.5em 0;
} */
.toy-info h3 {
  font-size: 18px;
  color: #444;
  margin: 0 0 5px;
}

.toy-info p {
  font-size: 14px;
  color: #777;
  margin: 0 0 10px;
}
@media (max-width: 768px) {
  .toy-card {
    flex: 1 1 calc(50% - 40px); /* Stack two items in a row on tablets */
  }
}

@media (max-width: 480px) {
  .toy-card {
    flex: 1 1 100%; /* Stack one item in a row on smaller screens */
  }
}

.buy-now {
  color: #6f42c1;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.buy-now:hover {
  text-decoration: none;
}

/* Optional: Make the section responsive */
@media (max-width: 768px) {
  .header {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 30px;
  }

  .hero-section {
    flex-direction: column;
    padding: 20px;
  }

  .hero-image {
    margin-bottom: 20px;
  }

  .image {
    width: 100%;
  }

  .toy-cards {
    flex-direction: column;
    align-items: center;
  }

  .toy-card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 28px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .navbar a {
    font-size: 1rem;
  }

  .header h2 {
    font-size: 20px;
  }
}

.newsletter-container {
  /* background: linear-gradient(135deg, #f9f9ff, #e6e6fa); */
  background-image: url("./assets/newsletter.jpg");
  background-size: cover;
  opacity: 0.6;
  padding: 80px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  width: 80%;
}
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color: #f4f4f4; */
  flex-direction: column;
  gap: 15px;
}
.newsletter input {
  width: 500px;
  border-radius: 20px;
  border: 2px solid var(--secondary-color);
  padding: 20px;
}

.newsletter button {
  padding: 15px 25px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  margin-left: 10px;
}
/* Footer */
footer {
  padding: 40px;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-bottom {
  margin-top: 20px;
}

/* Animation Section */
.animation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(135deg, #f9f9ff, #e6e6fa);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  width: 80%;
}

.image1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
  max-width: 100%;
  animation: fly-plane 5s ease-in-out forwards;
}

@keyframes fly-plane {
  0% {
    left: -100px;
  }
  80% {
    left: 100vw;
  }
  100% {
    left: 100vw;
    opacity: 0;
  }
}

.text-container {
  position: relative;
  top: -110px;
  left: 270px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.text-container.visible {
  opacity: 1;
}

.new-text {
  font-size: 24px;
  font-weight: bold;
  color: #7e57c2;
}
